<%- include("../includes/header.ejs", {title:"Studio"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class = "page-header">
        <h1>studio</h1>
    </div>

    <ul>
        <li>Name: <%= result[0].studio_name %></li>
        <li>Employees:
            <ul>
                <li><%= result[0].employees %></li>
            </ul>
        </li>
        <li>Country:
            <ul>
                <li><%= result[0].country %></li>
            </ul>
        </li>
    </ul>

<a href="/studio/all"><< BACK</a>

<%- include("../includes/footer.ejs"); %>