<%- include("../includes/header.ejs", {title:"Add New studio"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class="page-header">
    <h1>Add New studio</h1>
    </div>
    <form action="/studio/insert" method="get">
        Name: <input id="studio_name" name="studio_name" type="text" />
        <br />
        Size:  <input id="employees" name="employees" type="text" />
        <br />
        country:  <input id="country" name="country" type="text" />
        <br />
        <br />
        <input type="submit" />
    </form>
<br/>

<a href="/studio/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>