<%- include("../includes/header.ejs", {title: "Update Studio " }); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="page-header">
    <h1>Update <%= studio.studio_name %></h1>
</div>

<form action="/studio/update" method="get">
    <input type="hidden" id="studio_name" name="studio_name" value="<%= studio.studio_name %>">
    Name: <input id="studio_name" name="studio_name" type="text" value="<%= studio.studio_name%>"/>
    <br />
    Size: <input id="employees" name="employees" type="text" value="<%= studio.studio %>"/>
    <br />
    Country: <input id="country" name="country" type="text" value="<%= studio.country %>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>