<%- include("../includes/header.ejs", {title:"Critic"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>

   <div class="page-header">
       <h1>critic</h1>
   </div>

<ul>
    <li>Name: <%= result[0].critic_name %></li>

    </li>
</ul>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
         Success! You saved <%= result[0].critic_name %>'s information.%> }
    </div>
</div>
<% }%>

<a href="/critic/all"><< BACK</a>

<%- include("../includes/footer.ejs"); %>