<%- include("../includes/header.ejs", {title:"Add New Game"}); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>

    <div class="page-header">
    <h1>Add New Game</h1>
    </div>
    <form action="/game/insert" method="get">
        Name: <input  name="game_title"  type="text" />
        <br />
        Genre:  <input  name="genre" type="text" />
        <br />
        esrb_rating:  <input  name="esrb_rating" type="text" />
        <br />
        Release Date:  <input  name="release date" type="text" />
        <br />
        <br />
        <input type="submit" />
    </form>
<br/>

<a href="/game/all"><< BACK</a>
<%- include("../includes/footer.ejs"); %>