<%- include("../includes/header.ejs", {title: "Update Game" }); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/publisher/all">Publishers></a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">games</a></li>
                <li><a href="/critic/all">studio</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="page-header">
    <h1>Update <%= game.game_title %></h1>
</div>

<form action="/game/update" method="get">
    <input type="hidden" id="game_title" name="game_title" value="<%= game.game_title %>">
    Title: <input id="game_title" name="game_title" type="text" value="<%= game.game_title%>"/>
    <br />
    Genre: <input id="genre" name="genre" type="text" value="<%= game.genre %>"/>
    <br />
    Release Date: <input id="release_date" name="release_date" type="text" value="<%= game.release_datee %>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>