<%- include("../includes/header.ejs", {title: "Update Publisher" }); %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Navigation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/studio/all">Studios</a></li>
                <li><a href="/game/all">Games</a></li>
                <li><a href="/critic/all">Critics</a></li>
                <li><a href="/publisher/all">Publishers</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="page-header">
    <h1>Update <%= publisher.publisher_name %></h1>
</div>

<form action="/publisher/update" method="get">
    <input type="hidden" id="publisher_name" name="publisher_name" value="<%= publisher.publisher_name %>">
    Name: <input id="publisher_name" name="publisher_name" type="text" value="<%= publisher.publisher_name%>"/>
    <br />
    Size: <input id="size" name="size" type="text" value="<%= publisher.size %>"/>
    <br />
    Country: <input id="country" name="country" type="text" value="<%= publisher.country %>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>